@font-face {
    font-family: 'Recoleta';
    src: url('./fonts/Latinotype\ -\ Recoleta\ Black.otf') format('opentype');
    src: url('./fonts/Recoleta-Black.ttf') format('truetype');
    src: url('./fonts/Recoleta-Black.woff') format('woff');
    src: url('./fonts/Recoleta-Black.woff2') format('woff2');
    font-weight: medium;
    font-style: normal;
}